.btn-custom-blue {
    display: inline-block;
    position: relative;
    background: #1e1e20;
    padding: 10px 52px;
    text-decoration: none;
    color: $primary;
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
    border: none;
    transition: all 0.3s;

    &:before {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        background: $primary;
        opacity: 0.3;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: all 0.3s;
        z-index: -1;
    }

    &:hover {
        color: #fff;

        &:before {
            transform: translate(-50%, -50%) scale(3);
        }
    }
}

.btn-custom-dark {
    display: inline-block;
    position: relative;
    padding: 10px 52px;
    text-decoration: none;
    color: gray;
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
    border: none;
    transition: all 0.3s;

    &:before {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        background: gray;
        opacity: 0.3;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: all 0.3s;
        z-index: -1;
    }

    &:hover {
        color: #fff;
        background: $secondary;
        border-radius: 6px;

        &:before {
            transform: translate(-50%, -50%) scale(3);
        }
    }
}
